#!/usr/bin/env bash

alias glog='git log --color --graph --pretty=format:"%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cred<%an>%Creset" --abbrev-commit'

alias psgrep="ps aux | grep"

jdk() {
        version=$1
        export JAVA_HOME=$(/usr/libexec/java_home -v"$version");
        java -version
 }

alias sublime="open -a /Applications/Sublime\ Text.app" 

gcloud-docker-init() {
	name=$1
	docker run -ti --name $name google/cloud-sdk gcloud init
}

gcloud-docker-run() {
	name=$1
	docker run -it --volumes-from name -v "$(pwd)":"$(pwd)" -w "$(pwd)" google/cloud-sdk
}