#!/usr/bin/env zsh

alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

alias psgrep="ps aux | grep"

jdk() {
        version=$1
        export JAVA_HOME=$(/usr/libexec/java_home -v"$version");
        java -version
 }

alias sublime="open -a /Applications/Sublime\ Text.app" 

gcloud-docker-init() {
	name=$1
	docker run -it --name $name google/cloud-sdk:alpine gcloud init
}

gcloud-docker-run() {
	name=$1
	docker run -it --volumes-from $name -v "$(pwd)":"$(pwd)" -w "$(pwd)" google/cloud-sdk:alpine
}